@import "mixin";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #edeaeb;
  @media (max-width: rem(992)) {
  }
  &.no-scroll {
    overflow: hidden;
    padding-right: 10px;
    @media (max-width: rem(992)) {
      padding-right: 0;
    }
  }

  &::-webkit-scrollbar {
    background: transparent;
    width: rem(10);
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #08ac34;
    border-radius: 100px;
  }
}
* {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none !important;
  @media (max-width: rem(992)) {
    outline: none !important;
  }
}

.logo{
  img{
    @media (max-width: rem(992)) {
      max-width: rem(175);
    }
  }
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  @media (max-width: 1375px) {
    max-width: $md1 + px;
  }
  @media (min-width: 1600px) {
    max-width: $maxWidth;
  }
}

.site {
  position: relative;
  overflow: hidden;
}

.main-button {
  display: flex;
  align-items: center;
  padding: rem(10) rem(10) rem(10) rem(20);
  height: rem(50);
  background: linear-gradient(90deg, #06b53a 0%, #039830 100%);
  border-radius: rem(25);
  width: fit-content;
  color: #ffffff;
  font-size: rem(16);
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
  gap: rem(20);
  border: none;
}

.section-title {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  align-items: center;
  h2 {
    margin: 0;
    color: #0d0d0d;
    font-size: rem(32);
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    span {
      color: #08ac34;
    }
    @media (max-width: rem(992)) {
      font-size: rem(24);
    }
  }
  .main-button {
    margin-top: rem(18);
  }
  p {
    color: #0d0d0d;
    font-size: rem(16);
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    span {
      color: #08ac34;
    }
    @media (max-width: rem(992)) {
      br {
        display: none;
      }
    }
  }
}

.book-consultation {
  margin: rem(100) 0;
  @media (max-width: rem(992)) {
    margin: rem(70) 0;
  }
  &__body {
    border-radius: rem(10);
    background-position: left center;
    background-size: cover;
    background-image: url(/images/home/consultBack.webp);
    padding: rem(55) rem(65);
    @media (max-width: rem(992)) {
      padding: rem(30) rem(20) rem(360) rem(20);
      background-image: url(/images/home/consultBackMob.webp);
    }
    > div {
      h2 {
        color: #ffffff;
        font-size: rem(36);
        font-weight: 600;
        line-height: 1.2;
        text-align: left;
        margin: 0 0 rem(20) 0;
        @media (max-width: rem(992)) {
          font-size: rem(24);
        }
      }
      p {
        color: #ffffff;
        font-size: rem(16);
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        margin: 0 0 rem(20) 0;
        @media (max-width: rem(992)) {
          br {
            display: none;
          }
        }
      }
      .main-button {
        background: #ffffff;
        color: #0d0d0d;
        svg {
          circle {
            fill: #08ac34;
          }
          path {
            stroke: #ffffff;
          }
        }
      }
    }
  }
}

.request-popup-wrap,
.order-popup-wrap {
  //display: none !important;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  min-height: 100%;
  opacity: 0;
  pointer-events: none;

  background: #000000d9;
  backdrop-filter: blur(15px);
  &.opened {
    opacity: 1;
    pointer-events: all;
    transition: all 0.5s;
    .popup-inner {
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.5s;
    }
  }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    min-height: 100%;
  }

  .popup-inner {
    transition: all 0.5s;
    width: rem(540);
    max-width: 95%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 99999;
    min-height: rem(500);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 95vh;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
    &:-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
    @media (max-width: rem(992)) {
      padding: rem(100) rem(24) rem(24) rem(24);
      height: 100%;
    }

    .request-form {
      .thanks-message {
        img{
          width: rem(32);
        }
        span {
          font-size: rem(24);
          color: #ffffff;
          @media (max-width: rem(992)) {
            font-size: rem(20);
            br{
              display: none;
            }
          }
        }
      }
    }

    .popup-close {
      position: absolute;
      right: -30px;
      top: -40px;
      cursor: pointer;
      @media (max-width: rem(992)) {
        top: 0;
        right: 24px;
      }
    }
    h2 {
      margin: 0 0 rem(40) 0;
      font-size: rem(40);
      font-weight: 500;
      line-height: 1.2;
      text-align: center;
      color: #222222;

      @media (max-width: rem(992)) {
        font-size: rem(32);
        br {
          display: none;
        }
      }
      &.service-title {
        font-size: rem(16);
        margin: rem(10) auto rem(20) auto;
        color: #08ac34;
        @media (max-width: rem(992)) {
          max-width: 100%;
        }
      }
    }
    h3 {
      color: #ffffff;
      font-size: rem(32);
      font-weight: 600;
      line-height: 1.2;
      text-align: center;
      margin: 0;
      @media (max-width: rem(992)) {
        font-size: rem(24);
      }
    }
    p {
      color: #ffffff;
      font-size: rem(16);
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      margin: 0 0 rem(32) 0;
      @media (max-width: rem(992)) {
        margin: 0 0 rem(24) 0;
      }
    }
  }
}

.request-form {
  .thanks-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(10);
    margin-top: rem(10);
    span {
      color: #0d0d0d;
      font-size: rem(14);
      font-weight: 600;
      line-height: 1.2;
      text-align: center;
    }
  }

  .success-message {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: rem(16);
    h2 {
      margin-bottom: rem(16) !important;
    }
    span {
      color: #222222;
      font-size: rem(16);
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      width: calc(100% - rem(64));
    }
  }
  form {
    display: flex;
    flex-wrap: wrap;
    gap: rem(16);

    button {
      margin: 32px auto 0 auto;
      @media (max-width: rem(992)) {
        margin-top: rem(10);
      }
    }

    .form-field {
      &.invalid {
        > div {
          border-color: #ee342a;
        }
      }
    }

    .react-tel-input {
      input {
        font-size: rem(16);
        width: 100%;
        height: rem(50);
        color: #222222;
        padding: 0 rem(24) 0 rem(40);
        background-color: #f5f5f5;
        border-radius: rem(10);
        border: 1px solid #c5c5c5;
        &::placeholder {
          color: #222222;
        }
      }
      &.invalid {
        input {
          border: 1px solid #ee342a;
        }
        & + span {
          color: #ee342a;
          position: absolute;
          font-size: 11px;
          line-height: 1;
        }
      }
      .flag-dropdown {
        border: none !important;
        background: transparent !important;
      }
      .selected-flag {
        border: none !important;
        background: transparent !important;
      }
    }

    > div {
      width: calc(50% - rem(8));
      position: relative;
      @media (max-width: rem(992)) {
        width: 100%;
      }

      .error {
        color: #ee342a;
        position: absolute;
        font-size: 11px;
        line-height: 1;
      }

      &.full {
        width: 100%;
      }

      &.checkbox {
        width: 100%;
        input {
          display: none;
          &:checked + label {
            svg {
              circle:last-child {
                opacity: 1;
                transition: all 0.5s;
              }
            }
          }
          &.invalid + label {
            color: #ee342a;
          }
        }
        label {
          display: flex;
          align-items: flex-start;
          gap: rem(10);
          justify-content: center;
          color: #f8f8f8;
          font-size: rem(16);
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
          svg {
            margin-top: rem(3);
            width: rem(16);
            circle:last-child {
              opacity: 0;
              transition: all 0.5s;
            }
          }
          span {
            @media (max-width: rem(992)) {
              width: calc(100% - 24px);
            }
          }
        }
      }

      input,
      textarea {
        font-size: rem(16);
        width: 100%;
        height: rem(50);
        color: #0d0d0d;
        padding: 0 rem(24);
        background-color: #f5f5f5;
        border-radius: rem(10);
        border: 1px solid #c5c5c5;
        &::placeholder {
          color: #848484;
        }
        &.invalid {
          border: 1px solid #ee342a;
        }
      }
      textarea {
        border-radius: rem(16);
        padding: rem(10) rem(24);
        height: rem(150);
        &.small {
          height: rem(70);
          @media (max-width: rem(992)) {
            height: rem(60);
          }
        }
      }
    }
  }
}

input,
textarea,
select {
  font-family: "__Urbanist_4806ca", "__Urbanist_Fallback_4806ca";
  font-style: normal;
}
