@import "mixin";

.contact-hero {
  margin-bottom: rem(100);
  @media (max-width: rem(992)) {
    margin-bottom: rem(70);
  }
  ._container {
    > img {
      height: auto;
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
    padding: rem(50) rem(30);
    background: #ffffff;
    border-radius: rem(10);
    margin-bottom: rem(15);
    gap: rem(50);
    @media (max-width: rem(992)) {
      padding: rem(30) rem(20);
      flex-direction: column;
      gap: rem(20);
    }

    h1 {
      color: #0d0d0d;
      font-size: rem(40);
      font-weight: 600;
      line-height: 1.2;
      text-align: left;
      margin: 0;
      span {
        color: #08ac34;
      }
      @media (max-width: rem(992)) {
        font-size: rem(32);
      }
    }

    .left {
      width: calc(40% - rem(25));
      @media (max-width: rem(992)) {
        width: 100%;
      }
    }

    .right {
      width: calc(60% - rem(25));
      @media (max-width: rem(992)) {
        width: 100%;
      }
      p {
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        margin: 0;
      }
    }
  }
}

.contact-info {
  margin: rem(100) 0;
  @media (max-width: rem(992)) {
    margin: rem(70) 0;
  }
  &__top {
    display: flex;
    gap: rem(30);
    margin: rem(50) 0 rem(30) 0;
    flex-wrap: wrap;
    > div {
      width: calc(50% - rem(15));
      border-radius: rem(10);
      background: #ffffff;
      display: flex;
      flex-direction: column;
      @media (max-width: rem(992)) {
        width: 100%;
      }
      iframe {
        width: 100%;
        border-radius: rem(10);
      }
      > div {
        padding: rem(30) rem(15);
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
          color: #0d0d0d;
          font-size: rem(16);
          font-weight: 600;
          line-height: 1.2;
          text-align: center;
          margin: rem(20) 0 rem(15) 0;
        }
        p {
          color: #0d0d0d;
          font-size: rem(14);
          font-weight: 400;
          line-height: 1.2;
          text-align: center;
          margin: 0;
        }
      }
    }
  }
  &__bottom {
    display: flex;
    gap: rem(30);
    flex-wrap: wrap;
    a {
      width: calc(50% - rem(15));
      border-radius: rem(10);
      background: #08ac34;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: rem(30);
      gap: rem(10);
      color: #ffffff;
      font-size: rem(32);
      font-weight: 600;
      line-height: 1.2;
      text-align: center;

      @media (max-width: rem(992)) {
        width: 100%;
        font-size: rem(24);
      }
    }
  }
}

.contact-follow {
  margin: rem(100) 0;
  @media (max-width: rem(992)) {
    margin: rem(70) 0;
  }
  .soc {
    margin-top: rem(20);
    display: flex;
    justify-content: center;
    gap: rem(20);
    a {
      display: flex;
    }
  }
}

.contact-us {
  margin: rem(100) 0;
  @media (max-width: rem(992)) {
    margin: rem(70) 0;
  }
  .form-wrap {
    max-width: 540px;
    margin: rem(40) auto 0 auto;
  }
}
