@import "mixin";

header{
    margin: 20px 0;
    .header-row{
        background: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(15) rem(30);
        border-radius: rem(10);
        @media (max-width: rem(992)){
            padding: rem(10) rem(20);
        }
        a{
            display: flex;
        }
        .menu-btn{
            display: flex;
        }
    }
}