@import "mixin";

header {
  margin: 20px 0;
  position: relative;
  z-index: 999;

  &.menu-opened {
  }
  .header-row {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(15) rem(30);
    border-radius: rem(10);
    @media (max-width: rem(992)) {
      padding: rem(10) rem(20);
    }
    
    a {
      display: flex;
    }
    .menu-btn {
      display: flex;
    }
  }
}

.menu-wrap {
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000e5;
  padding-top: 200px;
  transition: all 0.5s;
  left: 0;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(10px);
  @media (max-width: rem(992)) {
    padding-top: 110px;
  }
  &.opened {
    left: 0;
    opacity: 1;
    pointer-events: all;
  }
  nav {
    display: flex;
    gap: 150px;
    @media (max-width: rem(992)) {
      flex-direction: column;
      gap: 30px;
      align-items: flex-start;
    }
    > div {
      display: flex;
      flex-direction: column;
      gap: 30px;
      @media (max-width: rem(992)) {
        width: 100%;
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
      }
      a {
        color: #fff;
        font-size: rem(40);
        font-weight: 600;
        line-height: 1;
        text-align: left;
        &:hover {
          color: #08ac34;
        }
        @media (max-width: rem(992)) {
          font-size: rem(24);
          text-align: center;
        }
      }
    }
  }
  .main-button {
    width: rem(90);
    height: rem(25);
    font-size: rem(12);
    display: none;
    @media (max-width: rem(992)) {
      display: flex;
      margin: 0 auto 30px auto;
    }
  }
}
