@import "mixin";

.policy-hero {
  margin: rem(70) 0 rem(40) 0;
  @media (max-width: rem(992)) {
    margin: rem(70) 0 rem(30) 0;
  }
  ._container {
    > img {
      height: auto;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    h1 {
      color: #08ac34;
      font-size: rem(36);
      font-weight: 600;
      line-height: 1.2;
      text-align: left;
      margin: 0;
      max-width: 70%;
      span {
        color: #08ac34;
      }
      @media (max-width: rem(992)) {
        font-size: rem(32);
        max-width: 100%;
      }
    }
    .date {
      color: #0d0d0d;
      font-size: rem(16);
      font-style: italic;
      font-weight: 400;
      line-height: 1.2;
      text-align: left;
    }
  }
}

.policy-wrap {
  margin: rem(40) 0 rem(100) 0;
  @media (max-width: rem(992)) {
    margin: rem(30) 0 rem(70) 0;
  }
  article {
    h2 {
      color: #0d0d0d;
      font-size: rem(24);
      font-weight: 600;
      line-height: 1.2;
      text-align: left;
      margin: rem(40) 0 rem(16) 0;
      &:first-child {
        margin-top: 0;
      }
      @media (max-width: rem(992)) {
        font-size: rem(18);
      }
    }
    p {
      color: #0d0d0d;
      font-size: rem(16);
      font-weight: 400;
      line-height: 1.2;
      text-align: left;
      margin: 0 0 rem(16) 0;
    }
    ul,
    ol {
      margin: 0 0 rem(16) 0;
      padding: 0 0 0 rem(16);
      li {
        color: #0d0d0d;
        font-size: rem(16);
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
      }
    }
    a {
      color: #08ac34;
    }
  }
}
