@import "mixin";

.service-hero {
  margin-bottom: rem(100);
  @media (max-width: rem(992)) {
    margin-bottom: rem(70);
  }
  &__body {
    display: flex;
    gap: rem(15);
    @media (max-width: rem(992)) {
      flex-direction: column;
    }
    .left {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: rem(15);
      @media (max-width: rem(992)) {
        width: 100%;
      }
      > div {
        padding: rem(50) rem(30);
        background: #fff;
        border-radius: rem(10);
        flex-grow: 1;
        &:last-child {
          background: #0d0d0d;
          p {
            color: #fff;
          }
        }
        @media (max-width: rem(992)) {
          padding: rem(30) rem(20);
        }
        h1 {
          color: #0d0d0d;
          font-size: rem(40);
          font-weight: 600;
          line-height: 1.2;
          text-align: left;
          margin: 0 0 rem(10) 0;
          span {
            color: #08ac34;
          }
          @media (max-width: rem(992)) {
            font-size: rem(32);
          }
        }
        p {
          color: #0d0d0d;
          font-size: rem(15);
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
          margin: 0;
        }
      }
    }
    .right {
      width: 60%;
      img {
        width: 100%;
        height: 100%;
        @media (max-width: rem(992)) {
          height: auto;
        }
      }
      @media (max-width: rem(992)) {
        width: 100%;
      }
    }
  }
}

.key-benefits {
  margin: rem(100) 0;
  @media (max-width: rem(992)) {
    margin: rem(70) 0;
  }
  &__body {
    //overflow-x: auto;
    margin: rem(30) 0 rem(0) 0;
    @media (max-width: rem(992)) {
      overflow-x: auto;
    }
    .row {
      display: flex;
      gap: rem(10);
      width: rem(1110);
      > div {
        background: #ffffff;
        padding: rem(30) rem(10);
        border-radius: rem(10);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        h3 {
          color: #0d0d0d;
          font-size: rem(16);
          font-weight: 600;
          line-height: 1.2;
          text-align: center;
          margin: rem(20) 0 rem(15) 0;
        }
        p {
          color: #0d0d0d;
          font-size: rem(14);
          font-weight: 400;
          line-height: 1.2;
          text-align: center;
          margin: 0;
        }
      }
    }
  }
}

.services-loop {
  margin: rem(100) 0;
  @media (max-width: rem(992)) {
    margin: rem(70) 0;
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(15);
    margin: rem(30) 0 rem(0) 0;
    .service {
      padding: rem(30) rem(65);
      background: #ffffff;
      border-radius: rem(10);
      display: flex;
      gap: rem(30);
      justify-content: space-between;
      @media (max-width: rem(992)) {
        flex-direction: column;
        gap: rem(20);
        padding: rem(30) rem(20);
      }
      h3 {
        width: 25%;
        margin: 0;
        font-size: rem(16);
        font-weight: 600;
        line-height: 1.2;
        text-align: left;
        color: #0d0d0d;
        @media (max-width: rem(992)) {
          width: 100%;
        }
      }
      p {
        width: 55%;
        margin: 0;
        font-size: rem(14);
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        color: #0d0d0d;
        @media (max-width: rem(992)) {
          width: 100%;
        }
      }
      button {
        width: rem(125);
      }
    }
  }
}

.pricing {
  margin: rem(100) 0;
  @media (max-width: rem(992)) {
    margin: rem(70) 0;
  }
}

.packages {
  margin: rem(100) 0;
  padding-top: rem(100);
  position: relative;
  @media (max-width: rem(992)) {
    margin: rem(70) 0;
    padding-top: rem(70);
  }
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: rem(380);
    background: #08ac34;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    @media (max-width: rem(992)) {
      height: rem(500);
    }
  }
  ._container {
    position: relative;
    z-index: 1;
  }
  h2 {
    color: #ffffff;
    font-size: rem(48);
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 rem(50) 0;
    @media (max-width: rem(992)) {
      font-size: rem(32);
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(30);
    > div {
      padding: rem(50) rem(65);
      background: #ffffff;
      border-radius: rem(10);
      display: flex;
      justify-content: space-between;
      gap: rem(80);
      @media (max-width: rem(992)) {
        padding: rem(30) rem(20);
        flex-direction: column;
        gap: rem(30);
      }
      > div {
        &:first-child {
          width: 50%;
          @media (max-width: rem(992)) {
            width: 100%;
          }
        }
        &:nth-child(2) {
          width: 35%;
          @media (max-width: rem(992)) {
            width: 100%;
          }
        }
        h3 {
          color: #0d0d0d;
          font-size: rem(24);
          font-weight: 600;
          line-height: 1.2;
          text-align: left;
          margin: 0 0 rem(15) 0;
          display: flex;
          align-items: center;
          gap: rem(16);
          img {
            width: rem(24);
          }
          span {
            width: calc(100% - rem(40));
          }
          @media (max-width: rem(992)) {
            font-size: rem(20);
          }
        }
        p {
          color: #0d0d0d;
          font-size: rem(14);
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
          margin: 0;
        }
        h4 {
          color: #08ac34;
          font-size: rem(12);
          font-weight: 700;
          line-height: 1.2;
          text-align: left;
          display: flex;
          align-items: center;
          gap: rem(10);
          margin: 0 0 rem(15) 0;
          &:before {
            content: "";
            display: block;
            width: rem(10);
            height: rem(10);
            background-color: #08ac34;
            border-radius: 50%;
          }
        }
        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          display: flex;
          flex-direction: column;
          gap: rem(8);
          li {
            color: #0d0d0d;
            margin: 0;
            font-size: rem(14);
            font-weight: 600;
            line-height: 1.2;
            text-align: left;
          }
        }
      }
    }
  }
}
